checkpoints/
data/raw/*
data/processed/*
data/outputs/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/outputs/.gitkeep
__pycache__/
*.pyc
.ipynb_checkpoints/
*.egg-info/
.venv/
venv/
data/
processed/
